<h1>Listing cores</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cores.each do |core| %>
      <tr>
        <td><%= link_to 'Show', core %></td>
        <td><%= link_to 'Edit', edit_core_path(core) %></td>
        <td><%= link_to 'Destroy', core, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Core', new_core_path %>
