	.content {font-family: "Times New Roman", serif; font-size: 12pt;}
	.center {text-align: center}
	.right {text-align: right}
	.smallLine {margin: 0px; padding: 0px}
	.italic {font-style: italic}
	.strong {font-weight: bold}
	.third { float: left; width: 33% }
	.header {margin: 20px}
	.border {border-bottom: 1px solid;}
	.fromResult {color: blue}

.content.floatImage,
.imageOcr {
	display: inline-block;
	width: 50%;
	float: left;
}
.imageOcr img {
	max-width: 100%;
}
